<h1 style="color:black">Welcome</h1>
<h2 style="color:black"></h2>
<% if user_signed_in? %>
  <li style="float:right">
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  </li>
<% else %>
  <li style="float:right">
    <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>